nav {
    display: flex;
    align-items: center;
    background-color:white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

nav #logo {
    height: 60px;
    margin-right: 1em;
    margin-left: 10em;
}

nav #main {
    display: flex;
    list-style: none;
    margin: 5;
    padding: 5;
}

nav #main>li {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

nav #main>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    font-family: Bahnschrift;
    font-size: 15px;
    margin: auto;
}

nav ul li:hover {
    background-color: #fdd835;
    border-radius: 0px;
}

#search input{
    margin-left: 100px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    font-family: Bahnschrift;
}

nav form {
    flex: 1;
    margin-left: 1em;
}

nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 0.5em;
    width: 80%;
}

nav input[type="submit"] {
    background-color: #0091ea;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 20%;
}

#bag1{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute;
    right: 10%;
    top: 28px;
}

#bag2{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute;
    right: 7%;
    top: 26px;
}

#bag3{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute;
    right: 3%;
    top: 20px;
}

#login{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15%;
    top: 33px;
}

#login>li {
    flex: 1;
    text-align: center;
    margin-right: 0px;
}

#login>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    font-family: Bahnschrift;
}

@media screen and (max-width: 600px) {
    nav {
    flex-wrap: wrap;
    justify-content: center;
    }
    
    nav #logo {
    margin-left: 1em;
    }
    
    nav #main {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    
    nav #main>li {
    margin: 0;
    width: 100%;
    margin-bottom: 0.5em;
    }
    
    nav input[type="text"] {
    width: 100%;
    }
    
    nav form {
    margin: 1em 0;
    }
    
    #login {
    position: static;
    margin: 1em 0;
    }
    }